[run]
source = .
omit = 
    *tests/*
    *venv/*
    *manage.py
    */settings.py
    *apps.py
    *asgi.py
    *wsgi.py
    *admin.py
    *urls.py
    */migrations/*

    *__init__*
    */__pycache__/*
    */site-packages/*

[report]
#fail_under = 100
show_missing = True
#skip_covered = True